* {
    font-size: 18px;
}

$greyd: #717171;
#main {
    position: relative;
}

//index//
header {
    padding: 10px 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: all 0.5s ease-in-out;
    .navigation {
        display: flex;
        a {
            img {
                height: 80px;
            }
        }
        ul {
            justify-content: flex-end;
            display: flex;
            list-style: none;
            margin-top: 20px;
            flex-grow: 3;
            li {
                margin-left: 30px;
                color: white;
                cursor: pointer;
                a {
                    color: white;
                    font-weight: bold;
                    padding: 5px 15px 5px 0;
                    &:hover {
                        color: white;
                        text-decoration: none;
                    }
                }
                .hvr-underline-from-left {
                    &::before {
                        background: white;
                    }
                }
            }
        }
    }
}

.sticky_top {
    background: #00000080;
    padding: 5px 0;
}

.welcome_screen {
    background-image: url(../images/banner_top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    height: 100vh;
    position: relative;
    .welcome {
        background-image: url(../images/trans.png);
        background-size: contain;
        position: absolute;
        bottom: 0;
        width: 60vw;
        background-repeat: no-repeat;
        background-position: bottom left;
        height: 69vh;
        padding: 17vw 3vw;
        transform: translateY(2px);
        h1 {
            font-weight: bold;
            text-shadow: 1px 1px 0px $greyd;
            font-size: 5vw;
        }
        p {
            text-transform: uppercase;
            font-size: 1vw;
        }
        h3 {
            font-size: 1.7vw;
        }
    }
}

.list_product {
    padding: 80px 0;
    h2 {
        margin-bottom: 30px;
        font-weight: bold;
    }
    .list {
        text-align: center;
        .item {
            padding: 10px 0;
            a {
                color: black;
                text-decoration: none;
                display: inline-block;
                img {
                    width: 100%;
                }
                .name,
                .price {
                    font-weight: 600;
                    margin: 0;
                }
                .id {
                    color: #5a5a5a;
                    margin: 0;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.own {
    text-align: center;
    margin: 80px 0;
    h3 {
        font-weight: bold;
        margin-bottom: 50px;
    }
    .avt {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin: 40px auto;
        img {
            width: 150%;
            transform: translateX(-90px);
        }
    }
    p {
        font-weight: bold;
        font-size: 1.7rem;
    }
}

//end index//
.coppyright {
    background: black;
    color: white;
    padding: 5px 0;
    div {
        font-size: 0.7rem;
    }
}

.pop_up {
    position: fixed;
    z-index: 99999;
    width: 450px;
    height: 300px;
    background: #000000a1;
    top: 30%;
    left: 39%;
    border-radius: 20px;
    padding: 45px;
    color: white;
    font-weight: bold;
    visibility: hidden;
    i {
        float: right;
        transform: translateY(-25px);
        cursor: pointer;
    }
    form {
        label {
            margin-right: 10px;
        }
        input[type="submit"] {
            width: 100%;
            font-weight: bold;
            background: white;
            margin-top: 20px;
            border-radius: 10px;
            color: black;
            outline: none;
            border: none;
            padding: 10px 0;
        }
    }
}

.active {
    visibility: visible;
    animation: show 0.5s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes show {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

//san pham//
.banner_top {
    background: url(../images/banner_top.jpg);
    background-position: 0 60%;
    height: 30vh;
    background-attachment: fixed;
}

//end san pham//
//chinh sua//
.box {
    display: flex;
    .side_bar {
        height: 100vh;
        width: 15vw;
        background: black;
        ul {
            list-style: none;
            margin-top: 200px;
            padding: 0;
            li {
                color: white;
                font-weight: bold;
                margin-bottom: 200px;
                cursor: pointer;
                padding: 60px 30px;
                &:hover {
                    background: white;
                    color: black;
                }
            }
        }
    }
    .table_aside {
        overflow: scroll;
        .user_edit,
        .product_edit {
            display: none;
            width: 60%;
            margin: 100px auto;
            h1 {
                text-align: center;
            }
            table {
                width: 100%;
                border: 2px solid #eaeaea;
                text-align: center;
                table-layout: fixed;
                tr {
                    border: 2px solid #eaeaea;
                    &:nth-child(even) {
                        background-color: #f2f2f2;
                    }
                    th,
                    td {
                        border: 2px solid #eaeaea;
                        padding: 10px;
                        a {
                            margin-left: 20px;
                            color: black;
                            font-weight: bold;
                            text-decoration: none;
                            &:hover {
                                color: #ff5400;
                            }
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .add {
                display: inline-block;
                color: black;
                padding: 5px 10px;
                margin: 10px 0;
                background: white;
                outline: none;
                border: 1px solid #a7a7a7;
                &:hover {
                    border-color: black;
                }
            }
        }
        .active {
            display: block;
            transition: all 0.4s ease-in-out;
        }
    }
}

.insert_user,
.insert_product,
.edit_user,
.edit_product {
    width: 25%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    background: #ececec;
    padding: 20px;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    font-weight: bold;
    button {
        margin-top: 10px;
        background: black;
        color: white;
        font-weight: bold;
        outline: none;
        border: 0;
        padding: 10px;
        border-radius: 30px;
    }
}

.banner_bot {
    img {
        width: 100%;
    }
}

//end chinh sua//
.under {
    background-image: url(../images/banne_bot2.jpg);
    background-size: cover;
    .infor {
        background: #000000ab;
        color: white;
        text-align: center;
        padding: 80px;
        h3 {
            font-weight: bold;
            margin-bottom: 50px;
        }
        .avt {
            height: 300px;
            width: 300px;
            border-radius: 50%;
            overflow: hidden;
            margin: 40px auto;
            img {
                width: 150%;
                transform: translateX(-90px);
            }
        }
        p {
            font-weight: bold;
            font-size: 1.7rem;
        }
        .detail {
            font-size: 1rem;
            p {
                font-size: 1rem;
            }
            i {
                font-size: 2rem;
            }
        }
    }
}
